@charset "utf-8";

/*ヘッダー*/
.h1_1{
	font-size: 50px;
	font-weight: bold;
	text-align:center;
	padding-top: 25px;
	color: #12c5ad;
}

h3{
	font-size: 20px;
	font-weight: bold;
	text-align: right;
	padding-right: 20px;
	color:#505050;
}

/*メイン　帯*/
.h2_1{
	font-size: 1.5em;/* フォントサイズ */
	font-weight: bold;/* フォント太さ */
	padding: 0.5em 1em;
	margin-bottom: 2em;
	position: relative;
	background-color: #00b1a2;/* 背景色 */
	box-shadow: 0px 0px 0px 5px #00b1a2;
	border: dashed 2px #ffffff;/* 破線 */
	color:#000000;/* フォント色 */
	}
	
	.h2_1:after {
	position: absolute;
	content: '';
	top: -7px;
	left: -7px;
	border-width: 0 0 20px 20px;
	border-style: dashed;
	border-color: #fff #fff #02867b;
	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
	}

	/*========= ページトップのためのCSS ===============*/

  /*リンクの形状*/
#page-top a{
	display: flex;
	justify-content:center;
	align-items:center;
	background:#e2346e;
	border-radius: 5px;
	width: 60px;
	height: 60px;
	color: #fff;
	text-align: center;
	text-transform: uppercase; 
	text-decoration: none;
	font-size:0.6rem;
	transition:all 0.3s;
  }
  
  #page-top a:hover{
	background: #ff83ac;
  }
  
  /*リンクを右下に固定*/
  #page-top {
	position: fixed;
	right: 10px;
	bottom:10px;
	z-index: 2;
	  /*はじめは非表示*/
	opacity: 0;
	transform: translateY(100px);
  }
  
  /*　上に上がる動き　*/
  
  #page-top.UpMove{
	animation: UpAnime 0.5s forwards;
  }
  @keyframes UpAnime{
	from {
	  opacity: 0;
	transform: translateY(100px);
	}
	to {
	  opacity: 1;
	transform: translateY(0);
	}
  }
  
  /*　下に下がる動き　*/
  
  #page-top.DownMove{
	animation: DownAnime 0.5s forwards;
  }
  @keyframes DownAnime{
	from {
	  opacity: 1;
	transform: translateY(0);
	}
	to {
	  opacity: 1;
	transform: translateY(100px);
	}
  }
  
  /*========= レイアウトのためのCSS ===============*/
  
  h1{
	font-size:1.2rem;
  }
  
  h2{
	font-size:1.2rem;
	text-align: center;
	margin: 0 0 30px 0;
  }
  
  p{
	margin-top:20px;  
  }
  
  small{
	background:#666666;
	color:#fff;
	display: block;
	text-align: center;
	padding:20px;
  }
  
  #header{
	background:#333;
	color:#fff;
	text-align: center;
	padding: 20px;
  }
  
  section{
	padding:100px 30px;
  }
  
  section:nth-child(2n){
	background:#f3f3f3; 
  }
  
  #footer{
	position: relative;
	z-index: 2;
  }
