@charset "utf-8";

h1{
	font-size: 50px;
	font-weight: bold;
	color: #28cfb9;
}

h3{
	font-size: 20px;
	font-weight: bold;
	text-align: right;
	color:#505050;
}

.h2_1{
	font-size: 1.5em;/* フォントサイズ */
	font-weight: bold;/* フォント太さ */
	padding: 0.5em 1em;
	margin-bottom: 2em;
	position: relative;
	background-color: #00b1a2;/* 背景色 */
	box-shadow: 0px 0px 0px 5px #00b1a2;
	border: dashed 2px #ffffff;/* 破線 */
	color:#000000;/* フォント色 */
	}
	
	.h2_1:after {
	position: absolute;
	content: '';
	top: -7px;
	left: -7px;
	border-width: 0 0 20px 20px;
	border-style: dashed;
	border-color: #fff #fff #02867b;
	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
	}
